body {
    background-color: #A26870;
    margin: 0;
    padding: 0;
    position:relative;
}

#LoginHeader{
    position:fixed;
    font-size:60px;
    width:200px;
    height:150px;
    left: 500px;





}
#FlicksHeader{
    position:fixed;
}
.sign-in{
    position:relative;
    font-size:32px;
    bottom:200px;
    left:0px;
    
    
}
.yes, .no {
    
    width: 400px; 
    height: 30px;
    display: inline-block;
    text-align: center;
    font-size: 100px; 
    margin-top: 50px; 
    margin-top: 30px;

}


.yes {
    font-size: 50px;
    
    position: fixed;
    bottom: 100px;
    left: 150px;
}

.no {
    font-size: 50px;
    position: fixed;
    bottom: 150px;
    left: 350px; 
}

.settings, .background {
    display: flexbox;
    height: 30px;
    width: 100px;
    
    position: absolute;
    padding-left: 0px;
    right:0px;
    background-color: "grey";

    
}
.settings{
    top:0px;
    right:100px;

}
.background{top:0px;
right: 0px;}


#LoginHeader{
    position:fixed;
    font-size:42px;
    width:150px;
    height:150px;
    left: 250px;
    bottom:380px;




}

.sign-in{
    position:fixed;
    font-size:32px;
    bottom:200px;
    left:150px;
    
}
