body {
    background-color: #A26870;
    margin: 0;
    padding: 0;
}
.FlicksHeader{
    height:50px;
    background-color:#A26870;
    color: white;
    text-align:left;
    padding: 0;
}
.LoginHeader{
    height:50px;
    background-color:#A26870;
    color:black;
    text-align:center;
    padding:0;
    position: absolute;
    top: 200px;
    right: 700px;
}
.sign-in{
    height:50px;
    background-color:#A26870;
    color:#000000;
    text-align: center;
    padding: 0;
    position: absolute;
    top: 300px;
    right: 634px;
}
.emailInput{
    position: absolute;
    top: 500px;
    left: 400px;
    width: 200px;
    height: 40px;
}
.passwordInput{
    position: absolute;
    top: 500px;
    right: 650px;
    width: 200px;
    height: 40px;
}
input.emailInput::placeholder{
    color:grey;
    text-align: center;
    font: "Aharoni";
}
input.passwordInput::placeholder{
    color:grey;
    text-align: center;
    font: "Aharoni";
}
button.loginButton{
    background-color:#000000;
    color:#ffffff;
    position: absolute;
    width: 200px;
    height: 45px;
    top: 500px;
    right: 390px;
}
button.settings{
    background-color:#000000;
    color:#ffffff;
    position: absolute;
    width: 200px;
    height: 45px;
    top: 0px;
    right: 0px;

}
