
* {
    font-family: 'Concert One';

}



body {
    background-color: #a16870;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vh;
    display: flex;
    flex-direction: column;
}
.LoginHeader{
    font-family:'Concert One', sans-serif;
    height:50px;
    background-color:#A26870;
    color:black;
    text-align:center;
    padding:0;
    position: fixed;
    top: 100px;
    right: 700px;
}
/* button.Login{
    background-color:#000000;
    color:#ffffff;
    position: fixed;
    width: 200px;
    height: 45px;
    top: 0px;
    right: 200px;
} */
.loginLink{
    position: fixed;
    right: 150px;
    top: 5vh;
}
.settingsLink{
    position: fixed;
    right: 50px;
    top: 20px;
}
/* button.settings{
    background-color:#000000;
    color:#ffffff;
    position: fixed;
    width: 200px;
    height: 45px;
    top: 0px;
    right: 0px;
} */
button.layout{
    background-color:#2E2E2F;
    color:#ffffff;
    position: fixed;
    width: 200px;
    height: 45px;
    top: 100px;
    right: 200px;
}
button.background{
    background-color:#2E2E2F;
    color:#ffffff;
    position: fixed;
    width: 200px;
    height: 45px;
    top: 100px;
    right: 0px;
}
.passwordInp{
    color:#333;
    border-radius: 4px;
    position: fixed;
    top: 170px;
    right: 44.5vw;
    width: 250px;
    height: 40px;
}
.emailInp{
    color:#333;
    border-radius: 4px;
    position: fixed;
    top: 100px;
    right: 44.5vw;
    width: 250px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.passwordCInp{
    color:#333;
    border-radius: 4px;
    position: fixed;
    top: 240px;
    right: 44.5vw;
    width: 250px;
    height: 40px;
}
.genrePreferences{
    color:#333;
    border-radius: 4px;
    position: fixed;
    top: 400px;
    right: 680px;
    width: 250px;
    height: 150px;
}
.dob{
    color:#333;
    border-radius: 4px;
    position: fixed;
    top: 590px;
    right: 44.5vw;
    width: 250px;
    height: 40px;
}
.emailLabel{
    font-family: Georgia;
    color:#333;
    position: fixed;
    top: 11vh;
    right: 53.8vw;
}
.passwordLabel{
    font-family: Georgia;
    color:#333;
    position: fixed;
    top: 21.5vh;
    right: 56vw;
}
.passwordCLabel{
    font-family: Georgia;
    color:#333;
    position: fixed;
    top: 31.5vh;
    right: 52vw;
}
.genresLabel{
    font-family: Georgia;
    color:#333;
    position: fixed;
    top: 395px;
    right: 808px;
}
.streamingLabel{
    font-family: Georgia;
    color:#333;
    position: fixed;
    top: 300px;
    right: 804px;
}
.dobLabel{
    font-family: Georgia;
    color:#333;
    position: fixed;
    top: 570px;
    right: 830px;
}
.sign-up{
    font-family: 'Concert One', sans-serif;
    position: fixed;
    text-align: center;
    margin-bottom: 20px;
    top: 0px;
    right: 760px;
}
.Flicks{
    font-family: 'Concert One', sans-serif;
    position: fixed;
    top: 0px;
    right: 1380px;
}
button.submit{
    border-radius: 4px;
    background-color:#000000;
    color:#ffffff;
    position: fixed;
    top: 650px;
    right: 45vw;
    width: 250px;
    height: 40px;
}
.Flicks-Logo{
    position: fixed;
    top: 0px;
    right: 1450px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.action{
    position: fixed;
    top: 420px;
    right: 920px;
}
.actionLabel{
    position: fixed;
    top: 420px;
    right: 870px;
}
.adventure{
    position: fixed;
    top: 440px;
    right: 920px;
}
.adventureLabel{
    position: fixed;
    top: 440px;
    right: 846px;
}
.animation{
    position: fixed;
    top: 460px;
    right: 920px;
}
.animationLabel{
    position: fixed;
    top: 460px;
    right: 846px;
}
.comedy{
    position: fixed;
    top: 480px;
    right: 920px;
}
.comedyLabel{
    position: fixed;
    top: 480px;
    right: 860px;
}
.crime{
    position: fixed;
    top: 500px;
    right: 920px;
}
.crimeLabel{
    position: fixed;
    top: 500px;
    right: 874px;
}
.drama{
    position: fixed;
    top: 520px;
    right: 920px;
}
.dramaLabel{
    position: fixed;
    top: 520px;
    right: 870px;
}
.fantasy{
    position: fixed;
    top: 420px;
    right: 770px;
}
.fantasyLabel{
    position: fixed;
    top: 420px;
    right: 715px;
}
.history{
    position: fixed;
    top: 440px;
    right: 770px;
}
.historyLabel{
    position: fixed;
    top: 440px;
    right: 717px;
}
.horror{
    position: fixed;
    top: 460px;
    right: 770px;
}
.horrorLabel{
    position: fixed;
    top: 460px;
    right: 721px;
}
.musical{
    position: fixed;
    top: 480px;
    right: 770px;
}
.musicalLabel{
    position: fixed;
    top: 480px;
    right: 713px;
}
.mystery{
    position: fixed;
    top: 500px;
    right: 770px;
}
.mysteryLabel{
    position: fixed;
    top: 500px;
    right: 711px;
}
.romance{
    position: fixed;
    top: 520px;
    right: 770px;
}
.romanceLabel{
    position: fixed;
    top: 520px;
    right: 704px;
}
.scifi{
    position: fixed;
    top: 540px;
    right: 830px;
}
.scifiLabel{
    position: fixed;
    top: 540px;
    right: 790px;
}
.netflix{
    position: fixed;
    top: 330px;
    right: 920px;
}
.netflixLabel{
    position: fixed;
    top: 330px;
    right: 870px;
}
.prime{
    position: fixed;
    top: 350px;
    right: 920px;
}
.primeLabel{
    position: fixed;
    top: 350px;
    right: 835px;
}
.disney{
    position: fixed;
    top: 370px;
    right: 920px;
}
.disneyLabel{
    position: fixed;
    top: 370px;
    right: 861px;
}
.max{
    position: fixed;
    top: 330px;
    right: 770px;
}
.maxLabel{
    position: fixed;
    top: 330px;
    right: 700px;
}
.paramount{
    position: fixed;
    top: 350px;
    right: 770px;
}
.paramountLabel{
    position: fixed;
    top: 350px;
    right: 689px;
}
