body {
    background-color: #B1C1C4;
    margin: 0;
    padding: 0;
}
.LoginHeader{
    font-family:Georgia;
    height:50px;
    background-color:#A26870;
    color:black;
    text-align:center;
    padding:0;
    position: absolute;
    top: 100px;
    right: 700px;
}
button.Login{
    background-color:#000000;
    color:#ffffff;
    position: absolute;
    width: 200px;
    height: 45px;
    top: 0px;
    right: 200px;
}
button.settings{
    background-color:#000000;
    color:#ffffff;
    position: absolute;
    width: 200px;
    height: 45px;
    top: 0px;
    right: 0px;
}
button.layout{
    background-color:#2E2E2F;
    color:#ffffff;
    position: absolute;
    width: 200px;
    height: 45px;
    top: 100px;
    right: 200px;
}
button.background{
    background-color:#2E2E2F;
    color:#ffffff;
    position: absolute;
    width: 200px;
    height: 45px;
    top: 100px;
    right: 0px;
}
.emailInp{
    color:#848482;
    border-radius: 4px;
    position: absolute;
    top: 240px;
    right: 680px;
    width: 250px;
    height: 40px;
}
.usernameInp{
    color:#848482;
    border-radius: 4px;
    position: absolute;
    top: 170px;
    right: 680px;
    width: 250px;
    height: 40px;
}
.passwordInp{
    color:#848482;
    border-radius: 4px;
    position: absolute;
    top: 320px;
    right: 680px;
    width: 250px;
    height: 40px;
}
.genrePreferences{
    color:#848482;
    border-radius: 4px;
    position: absolute;
    top: 400px;
    right: 680px;
    width: 250px;
    height: 150px;
}
.dob{
    color:#848482;
    border-radius: 4px;
    position: absolute;
    top: 600px;
    right: 680px;
    width: 250px;
    height: 40px;
}
.usernameLabel{
    font-family: Georgia;
    color:#848482;
    position: absolute;
    top: 150px;
    right: 855px;
}
.emailLabel{
    font-family: Georgia;
    color:#848482;
    position: absolute;
    top: 220px;
    right: 825px;
}
.passwordLabel{
    font-family: Georgia;
    color:#848482;
    position: absolute;
    top: 300px;
    right: 860px;
}
.genresLabel{
    font-family: Georgia;
    color:#848482;
    position: absolute;
    top: 380px;
    right: 808px;
}
.dobLabel{
    font-family: Georgia;
    color:#848482;
    position: absolute;
    top: 580px;
    right: 830px;
}
.sign-up{
    font-family: Georgia;
    position: absolute;
    top: 50px;
    right: 750px;
}
.Flicks{
    font-family: Impact;
    position: absolute;
    top: 0px;
    right: 1380px;
}
button.submit{
    border-radius: 4px;
    background-color:#000000;
    color:#ffffff;
    position: absolute;
    top: 660px;
    right: 682.5px;
    width: 250px;
    height: 40px;
}
.Flicks-Logo{
    position: absolute;
    top: 0px;
    right: 1450px;
}